<div class="mydata">
  <div class="container">
    <p class="lead text-center">Zaloguj się</p>

	 	<div class="authform well">
	 
		  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>

		    <% if resource.errors.any? %>
		      <div id="error_expl" class="panel panel-danger">
		        <div class="panel-heading">
		          <h3 class="panel-title"><%= pluralize(resource.errors.count, "error") %> prohibited this resource_name from being saved:</h3>
		        </div>
		        <div class="panel-body">
		          <ul>
		          <% resource.errors.full_messages.each do |msg| %>
		            <li><%= msg %></li>
		          <% end %>
		          </ul>
		        </div>
		      </div>
		    <% end %>


		    <div class="form-group">
		      <%= f.label :email %>
		      <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
		    </div>
		    <div class="form-group">
		      <%= f.label :password %>
		      <%= f.password_field :password, class: 'form-control' %>
		    </div>

	      <%= f.submit 'Zaloguj się', :class => 'btn btn-primary right' %>

		    <div class="form-group">
		      <% if devise_mapping.rememberable? -%>
		        <div class="checkbox">
		          <%= f.check_box :remember_me %> <%= f.label :remember_me %>
		        </div>
		      <% end -%>
		    </div>

		  <% end %>


		<%= render "users/shared/links" %>

	  </div>

  </div>
</div>