<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>


    <div class="row control-group">
      <%= f.label :name, :class => "control-label col-sm-3" %>
      <div class="controls col-sm-7">
        <%= f.text_field :name, autofocus: true, :class => "form-control", placeholder: 'Nazwa użytkownika' %>
        <small class="help-block">Wprowadź/zaktualizuj swoją nazwę</small>
      </div>
    </div><br>


    <div class="row">
      <div class="col-sm-7 col-sm-offset-3">
        <%= f.submit :class => "btn btn-primary" %>
        <%= link_to 'Back', :back, :class => "btn btn-default" %>
      </div>
    </div>

<% end %>

<div>
Connect Account

<br>
<br>



<% ['facebook', 'twitter', 'github', 'linkedin', 'google_oauth2'].each do |provider| %>

  <% if current_user.authorizations.pluck(:provider).include?(provider.to_s) %>
    <%= provider.to_s.titleize %> Connected
  <% else %>
      <%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path('user', provider) %>
  <% end %>
<br/>
<% end %>

</div>
